@import 'root.css';
@import 'reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Work Sans', sans-serif;
}
.backgroundImage{
    background: url('../assets/images/background-pattern-desktop.svg');
    background-size: cover;
}
.backgroundColor{
    background-color: var(--lightPink-bg-color);
}
.backgroundCard{
    background-color: var(--white-bg-color);
}
.titleContent_title{
    color: var(--DarkPurple-font-color);
}
.faqContentMain-first_title{
    color: var(--DarkPurple-font-color);
}
.faqContentMain-second_text{
    color: var(--GrayishPurple-font-color);
}